.data-availability {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #000;
    color: #fff;
  }
  
  .data-content {
    flex: 1;
    max-width: 50%;
    margin-right: 20px;
  }
  
  .data-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .highlight-main {
    color: #fdbd38; 
    font-weight: bold;
  }
  
  .highlight-secondary {
    color: #a9b9ff; 
    font-weight: bold;
  }
  
  .data-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .data-content ul {
    list-style: none; 
    padding: 0;
    margin-bottom: 20px;
  }
  
  .data-content ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
  }
  
  .data-content ul li::before {
    content: '•';
    color: #a9b9ff; 
    font-size: 1.2rem;
    margin-right: 8px; 
    display: inline-block;
    vertical-align: middle;
  }
  
  .learn-more {
    font-size: 1rem;
    color: #a9b9ff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    margin-top: 30px;
  }
  
  .learn-more:hover {
    color: #fdbd38;
  }
  
  .data-image {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .data-image img {
    width: 100%;
    height: auto;
    max-width: 400px; 
  }
  